<mat-card>
    <mat-card-header>
        <mat-card-title>Create Course</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="courseForm" (submit)="save()">
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Title"
                    formControlName="title">
                <mat-error 
                    *ngIf="courseForm.get('title').hasError('required')">
                    Title is <strong>required</strong>
                </mat-error>
                <mat-error 
                    *ngIf="courseForm.get('title').hasError('minlength')">
                    Title must be longer than <strong>{{ courseForm.get('title').getError('minlength').requiredLength }} characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Image Url"
                    formControlName="image">
                <mat-error 
                    *ngIf="courseForm.get('image').hasError('required')">
                    Image is <strong>required</strong>
                </mat-error>
                <mat-error 
                    *ngIf="courseForm.get('image').hasError('pattern')">
                    Image url must be a <strong>valid http url</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Category"
                    formControlName="category">
                <mat-error 
                    *ngIf="courseForm.get('category').hasError('required')">
                    Category is <strong>required</strong>
                </mat-error>
                <mat-error 
                    *ngIf="courseForm.get('category').hasError('minlength')">
                    Category must be longer than <strong>{{ courseForm.get('category').getError('minlength').requiredLength }} characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Description"
                    formControlName="description">
                <mat-error 
                    *ngIf="courseForm.get('description').hasError('maxlength')">
                    Description can't be longer than <strong>{{ courseForm.get('description').getError('maxlength').requiredLength }} characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Price"
                    formControlName="price">
                <mat-error
                    *ngIf="courseForm.get('price').hasError('required')">
                    Price is <strong>required</strong>
                </mat-error>    
                <mat-error
                    *ngIf="courseForm.get('price').hasError('range')">
                    Price must be between
                    <strong>{{ courseForm.get('price').getError('range').min | currency:'USD' }}</strong>
                     and 
                    <strong>{{ courseForm.get('price').getError('range').max | currency:'USD' }}</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input 
                    matInput
                    placeholder="Rating"
                    formControlName="rating">
                <mat-error
                    *ngIf="courseForm.get('rating').hasError('required')">
                    Rating is <strong>required</strong>
                </mat-error>    
                <mat-error
                    *ngIf="courseForm.get('rating').hasError('range')">
                    Rating must be between
                    <strong>{{ courseForm.get('rating').getError('range').min }}</strong>
                     and 
                    <strong>{{ courseForm.get('rating').getError('range').max }}</strong>
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="courseForm.invalid">Create</button>
        </form>
    </mat-card-content>
</mat-card>